#boks{
    text-align: center;
    border-radius: 20px;
    border-color:lightblue;
    border-style:dashed;
    margin: 0 auto;
    background-color:;
    opacity: 0.9;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 800px;
}

#velkommen{
    font-family:sans-serif;
    color:red;

}

#btn {
	margin:auto;
    width: 200px;
	margin-top:10px;
    margin-bottom: 5px;
    height: 40px;
    font-size: 14pt;
    border-radius: 8px;
    color: white;
    background-color: #008CBA;
	display:block;
}


h1{
    text-align: center;

}

p { font-family: sans-serif;}

a {
	margin:auto;
    width: 200px;
	margin-top:10px;
    margin-bottom: 5px;
    height: 30px;
    font-size: 12pt;
    border-radius: 8px;
    color: white;
    background-color: #008CBA;
	display:block;
	font-family:sans-serif;
	text-decoration:none;
	padding-top:10px;
	font-weight:500;
}

a:hover {text-decoration:underline;}